<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>Users table</h1>

    <table>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>

        </tr>
        <tr th:each="oneUser: ${users}">
            <td th:text="*{oneUser.id}"> </td>
            <td th:text="*{oneUser.name}"> </td>
            <td th:text="*{oneUser.surname}"> </td>
            <td th:text="*{oneUser.age}"> </td>
            <td>
                <form th:action="@{/delete}" th:object="${user}" method="POST">
                    <select hidden="hidden" th:field="*{id}">
                         <option th:value="${oneUser.id}"></option>
                    </select>
                    <button type="submit">Delete user</button>
                </form>
            </td>
        </tr>
    </table>



    <h2>Add user</h2>

        <form th:action="@{/add}" th:object="${user}" method="POST">
            Name: <input type="text" required th:field="*{name}"><br />
            Surname <input type="text" required th:field="*{surname}"><br />
            Age <input type="number" required th:field="*{age}"><br />
            <button type="submit">Add user</button>
        </form>


    <h2>Edit user`s data</h2>

    <form th:action="@{/update}" th:object="${user}" method="POST">
        Current user`s id: <select th:field="*{id}">
            <option th:each="oneUser: ${users}" th:value="${oneUser.id}" th:text="${oneUser.id}"></option>
        </select> <br />
        Name: <input type="text" required th:field="*{name}"><br />
        Surname: <input type="text" required th:field="*{surname}"><br />
        Age: <input type="number" required th:field="*{age}"><br />

        <button type="submit">Edit user</button>
    </form>
</body>
</html>